$focusColor: #f65261;
$bgColor: #232323;
$textColor: #555555;

.sortingBox {
  width: 90vw;
  margin-left: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid #555555;
  color: #ffffff;
}

.sortingBox__categoryes {
  width: 50vw;
  height: 7vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7vw;
  font-weight: 300;
  letter-spacing: 0.1vw;
  cursor: pointer;
}

.sortingBox__category {
  list-style: none;
  padding-bottom: 2.4vw;
  margin-top: 2.7vw;
  &:hover {
    border-bottom: solid #f65261;
  }
  &.active {
    border-bottom: solid #f65261;
  }
}

.sortingBox__sort {
  width: 27vw;
  display: flex;
  justify-content: space-between;
  font-size: 1.7vw;
  font-weight: 300;
  letter-spacing: 0.1vw;
}

.sortingBox__sortTitle {
  color: $textColor;
}

.sortingBox__currentSortBox {
  width: 17vw;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.sortingBox__currentSortType {
  font-size: 1.7vw;
  text-transform: uppercase;
}

.sortingBox__sortTypes {
  height: 18vw;
  width: 17vw;
  top: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: #232323;
  border: 0.2vw solid #555555;
  border-radius: 0.3vw;
  box-shadow: 0 0 20px 0px #000000;
  list-style-type: none;
}

.sortingBox__sortType {
  height: 3vw;
  text-transform: uppercase;
  font-size: 1.7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #f65261;
  }
}

