.moviesCollection__movie {
  height: 46vw;
  width: 25vw;
  margin: 2vw 0;
  position: relative;
  &:hover {
    .moviesCollection__settings {
      display: flex;
    }
    .moviesCollection__editContainer {
      display: flex;
    }
  }
}

.moviesCollection__settings {
  height: 3vw;
  width: 3vw;
  top: 2vw;
  right: 2vw;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #232323;
  border-radius: 3vw;
  cursor: pointer;
}

.moviesCollection__settingsImg {
  padding-left: 1.2vw;
  text-align: center;
  font-size: 2.3vw;
  color: #ffffff;
  writing-mode: vertical-rl;
}

.moviesCollection__editContainer {
  height: 10vw;
  width: 15vw;
  top: 2vw;
  right: 2vw;
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  color: #ffffff;
  background-color: #232323;
  border-radius: 0.5vw;
  font-weight: 300;
}

.moviesCollection__btnClose {
  height: 1.5vw;
  margin-top: 0.1vw;
  margin-right: 0.8vw;
  border: none;
  background: none;
  font-weight: 300;
  color: #ffffff;
  font-size: 2vw;
  cursor: pointer;
}

.moviesCollection__listBtns {
  height: inherit;
  width: inherit;
  list-style-type: none;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.moviesCollection__btn {
  height: 3vw;
  padding-left: 1vw;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: #f65261;
  }
}

.moviesCollection__img {
  width: 25vw;
  height: 37vw;
  background-size: cover;
  cursor: pointer;
}

.moviesCollection__info {
  margin-top: 1vw;
  color: #555555;
}

.moviesCollection__moviesInfo {
  margin-bottom: 0.5vw;
  display: flex;
  justify-content: space-between;
}

.moviesCollection__title {
  font-weight: 500;
  font-size: 1.6vw;
}

.moviesCollection__year {
  height: 2vw;
  width: 4vw;
  text-align: center;
  padding-top: 0.1vw;
  font-weight: 300;
  font-size: 1.4vw;
  border: 0.1vw solid #555555;
}

.moviesCollection__genre {
  width: 20vw;
  font-weight: 300;
  font-size: 1.4vw;
}